*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

body {

    background-color: antiquewhite;

}


.title-page {
    text-align: center;
    color: aliceblue;
    background-color: cadetblue;
    font-size: x-large;
    padding: 5px;



}

.image {
    text-align: center;
    background-color: navajowhite;
    margin: auto;

}

.subtitle {
    text-align: center;
    color: aliceblue;
    background-color: cadetblue;
    padding: 0.5px;
}

.recipe-pages {
    text-align: center;    
}

button {

    background-color: navajowhite;

}

button :hover {
    background-color: rgb(236, 204, 166);
}

.poutine,
.hot-dogs,
.cookie {
    font-size: larger;
}
